<div>
    <h2 id="page-heading">
        <span>Koszyk</span>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="zamowienieWpis?.length === 0">
        <span>Twój koszyk jest pusty!</span>
    </div>
    <div class="table-responsive" *ngIf="zamowienieWpis?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="ilosc"><span>Ilosc</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="cena"><span>Cena</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="status"><span>Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="statusZamowienia"><span>Status Zamowienia</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="user.login"><span>User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="produkt.id"><span>Produkt</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"><span>Zdjęcie</span></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let zamowienieWpis of zamowienieWpis ;trackBy: trackId">
                <td><a [routerLink]="['/zamowienie-wpis', zamowienieWpis.id, 'view' ]">{{zamowienieWpis.id}}</a></td>
                <td>{{zamowienieWpis.ilosc}}</td>
                <td>{{zamowienieWpis.cena}}</td>
                <td>{{zamowienieWpis.status}}</td>
                <td>{{zamowienieWpis.statusZamowienia}}</td>
                <td>
                    {{zamowienieWpis.user?.login}}
                </td>
                <td>
                    <div *ngIf="zamowienieWpis.produkt">
                        <a [routerLink]="['/produkt', zamowienieWpis.produkt?.id, 'view' ]" >{{zamowienieWpis.produkt?.nazwa}}</a>
                    </div>
                </td>
                <td>
                    <a *ngIf="zamowienieWpis.produkt.zdjecie" (click)="openFile(zamowienieWpis.produkt.zdjecieContentType, zamowienieWpis.produkt.zdjecie)">
                        <img [src]="'data:' + zamowienieWpis.produkt.zdjecieContentType + ';base64,' + zamowienieWpis.produkt.zdjecie" style="max-height: 30px;" alt="{{zamowienieWpis.produkt.nazwa}}"/>
                    </a>
                    <span *ngIf="zamowienieWpis.produkt.zdjecie"></span>
                </td>
                <td class="text-right">
                        <button type="submit" (click)="delete(zamowienieWpis)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Usuń z koszyka</span>
                        </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="zamowienieWpis?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
    <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-produkt" [routerLink]="['/produkt/new']">
        <fa-icon [icon]="'plus'"></fa-icon>
        <span >
            Złóż zamówienie
            </span>
    </button>
</div>
