<div>
    <h2>Kontakt</h2>
    <agm-map
        [latitude]="lat"
        [longitude]="lng"
        [zoom]="zoom"
        [disableDefaultUI]="false"
        [zoomControl]="false"
        (mapClick)="mapClicked($event)">

        <agm-marker
            *ngFor="let m of markers; let i = index"
            (markerClick)="clickedMarker(m.label, i)"
            [latitude]="m.lat"
            [longitude]="m.lng"
            [label]="m.label"
            [markerDraggable]="m.draggable"
            (dragEnd)="markerDragEnd(m, $event)">

            <agm-info-window>
                <strong>Magazyn Grzewczy</strong>
            </agm-info-window>

        </agm-marker>

        <agm-circle [latitude]="lat" [longitude]="lng"
                    [radius]="100000"
                    [fillColor]="'green'"
                    [circleDraggable]="false"
                    [editable]="false">
        </agm-circle>

    </agm-map>
</div>
