<div>
    <h2 id="page-heading">
        <span>Lista Twoich zamówień</span>
        <button id="jh-create-entity"
                *jhiHasAnyAuthority="'ROLE_ADMIN'"
                class="btn btn-primary float-right jh-create-entity create-zamowienie"
                [routerLink]="['/zamowienie/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span>
            Stwórz nowe zamówienie
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="zamowienies?.length === 0">
        <span>Nie posiadasz żadnych zamówień!</span>
    </div>
    <div class="table-responsive" *ngIf="zamowienies?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th scope="col" jhiSortBy="id"><span>Id zamówienia</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="cena"><span>Cena zamówienia</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="status"><span>Status</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="dataUtworzenia"><span>Data utworzenia</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let zamowienie of zamowienies ;trackBy: trackId">
                <td><a [routerLink]="['/zamowienie', zamowienie.id, 'view' ]">{{zamowienie.id}}</a></td>
                <td>{{zamowienie.cena}}</td>
                <td>{{zamowienie.status}}</td>
                <td>{{zamowienie.dataUtworzenia | date:'dd/MM/yy'}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                *jhiHasAnyAuthority="'ROLE_USER'"
                                [routerLink]="['/zamowienie', zamowienie.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">Zobacz</span>
                        </button>
                        <button type="submit"
                                *jhiHasAnyAuthority="'ROLE_ADMIN'"
                                [routerLink]="['/zamowienie', zamowienie.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edytuj</span>
                        </button>
                        <button type="submit" (click)="delete(zamowienie)"
                                *jhiHasAnyAuthority="'ROLE_ADMIN'"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Usuń</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="zamowienies?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
                            [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
    <ngb-accordion *ngFor="let zamowienie of zamowienies; let i = index"
                   (panelChange)="getAllZamowienieWpisByZamowienieId(zamowienie.id)">
        <ng-container>
            <ngb-panel id="static-{{i}}"
                       title="Zamówienie numer: {{zamowienie.id}}
                       Data utworzenia: {{zamowienie.dataUtworzenia | date: 'yyyy/MM/dd'}}
                       Status zamówienia: {{zamowienie.status}}">
                <ng-template ngbPanelContent>
                    <div>{{zamowienie.id}}</div>
                    <h4>Cena zamówienia: {{zamowienie.cena}}</h4>
                    <h1>{{this.produks[0].produkt.nazwa}}</h1>
                    <h1>{{this.produks[1].produkt.nazwa}}</h1>
                </ng-template>
            </ngb-panel>
        </ng-container>
    </ngb-accordion>
</div>
