<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-zamowienie-heading">Create or edit a Zamowienie</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_cena">Cena</label>
                    <input type="number" class="form-control" name="cena" id="field_cena"
                           formControlName="cena"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_status">Status</label>
                    <select class="form-control" name="status" formControlName="status" id="field_status">
                        <option value="UTWORZONE">UTWORZONE</option>
                        <option value="ZAAKCEPTOWANE">ZAAKCEPTOWANE</option>
                        <option value="WYSLANE">WYSLANE</option>
                        <option value="ZAPLACONE">ZAPLACONE</option>
                        <option value="ZREALIZOWANE">ZREALIZOWANE</option>
                        <option value="ANULOWANE">ANULOWANE</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dataUtworzenia">Data Utworzenia</label>
                    <div class="input-group">
                        <input id="field_dataUtworzenia" type="text" class="form-control" name="dataUtworzenia" ngbDatepicker  #dataUtworzeniaDp="ngbDatepicker" formControlName="dataUtworzenia"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dataUtworzeniaDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="user">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === editForm.get('user').value?.id ? editForm.get('user').value : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
