<div>
    <h1>Kursy Walut</h1>
    <table class="table table-hover table">
        <h3>Waluta bazowa: {{kurs.base}}</h3>
        <h4>Status zapytania API: {{kurs.success}}</h4>
        <h4>Data danych: {{kurs.date}}</h4>
    </table>
    <table class="table table-hover table-dark">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Waluta</th>
            <th scope="col">Nazwa waluty</th>
            <th scope="col">Kurs</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>AED</td>
            <td>{{symbole.symbols.AED}}</td>
            <td>{{kurs.rates.AED}}</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>AFN</td>
            <td>{{symbole.symbols.AFN}}</td>
            <td>{{kurs.rates.AFN}}</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>ALL</td>
            <td>{{symbole.symbols.ALL}}</td>
            <td>{{kurs.rates.ALL}}</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>AMD</td>
            <td>{{symbole.symbols.AMD}}</td>
            <td>{{kurs.rates.AMD}}</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>ANG</td>
            <td>{{symbole.symbols.ANG}}</td>
            <td>{{kurs.rates.ANG}}</td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td>AOA</td>
            <td>{{symbole.symbols.AOA}}</td>
            <td>{{kurs.rates.AOA}}</td>
        </tr>
        <tr>
            <th scope="row">7</th>
            <td>ARS</td>
            <td>{{symbole.symbols.ARS}}</td>
            <td>{{kurs.rates.ARS}}</td>
        </tr>
        <tr>
            <th scope="row">8</th>
            <td>AUD</td>
            <td>{{symbole.symbols.AUD}}</td>
            <td>{{kurs.rates.AUD}}</td>
        </tr>
        <tr>
            <th scope="row">9</th>
            <td>AWG</td>
            <td>{{symbole.symbols.AWG}}</td>
            <td>{{kurs.rates.AWG}}</td>
        </tr>
        <tr>
            <th scope="row">10</th>
            <td>AZN</td>
            <td>{{symbole.symbols.AZN}}</td>
            <td>{{kurs.rates.AZN}}</td>
        </tr>
        <tr>
            <th scope="row">11</th>
            <td>BAM</td>
            <td>{{symbole.symbols.BAM}}</td>
            <td>{{kurs.rates.BAM}}</td>
        </tr>
        <tr>
            <th scope="row">12</th>
            <td>BBD</td>
            <td>{{symbole.symbols.BBD}}</td>
            <td>{{kurs.rates.BBD}}</td>
        </tr>
        <tr>
            <th scope="row">13</th>
            <td>BDT</td>
            <td>{{symbole.symbols.BDT}}</td>
            <td>{{kurs.rates.BDT}}</td>
        </tr>
        <tr>
            <th scope="row">14</th>
            <td>BGN</td>
            <td>{{symbole.symbols.BGN}}</td>
            <td>{{kurs.rates.BGN}}</td>
        </tr>
        <tr>
            <th scope="row">15</th>
            <td>BHD</td>
            <td>{{symbole.symbols.BHD}}</td>
            <td>{{kurs.rates.BHD}}</td>
        </tr>
        <tr>
            <th scope="row">16</th>
            <td>BIF</td>
            <td>{{symbole.symbols.BIF}}</td>
            <td>{{kurs.rates.BIF}}</td>
        </tr>
        <tr>
            <th scope="row">17</th>
            <td>BMD</td>
            <td>{{symbole.symbols.BMD}}</td>
            <td>{{kurs.rates.BMD}}</td>
        </tr>
        <tr>
            <th scope="row">18</th>
            <td>BND</td>
            <td>{{symbole.symbols.BND}}</td>
            <td>{{kurs.rates.BND}}</td>
        </tr>
        <tr>
            <th scope="row">19</th>
            <td>BOB</td>
            <td>{{symbole.symbols.BOB}}</td>
            <td>{{kurs.rates.BOB}}</td>
        </tr>
        <tr>
            <th scope="row">20</th>
            <td>BRL</td>
            <td>{{symbole.symbols.BRL}}</td>
            <td>{{kurs.rates.BRL}}</td>
        </tr>
        <tr>
            <th scope="row">21</th>
            <td>BSD</td>
            <td>{{symbole.symbols.BSD}}</td>
            <td>{{kurs.rates.BSD}}</td>
        </tr>
        <tr>
            <th scope="row">22</th>
            <td>BTC</td>
            <td>{{symbole.symbols.BTC}}</td>
            <td>{{kurs.rates.BTC}}</td>
        </tr>
        <tr>
            <th scope="row">23</th>
            <td>BTN</td>
            <td>{{symbole.symbols.BTN}}</td>
            <td>{{kurs.rates.BTN}}</td>
        </tr>
        <tr>
            <th scope="row">24</th>
            <td>BWP</td>
            <td>{{symbole.symbols.BWP}}</td>
            <td>{{kurs.rates.BWP}}</td>
        </tr>
        <tr>
            <th scope="row">25</th>
            <td>BYN</td>
            <td>{{symbole.symbols.BYN}}</td>
            <td>{{kurs.rates.BYN}}</td>
        </tr>
        <tr>
            <th scope="row">26</th>
            <td>BYR</td>
            <td>{{symbole.symbols.BYR}}</td>
            <td>{{kurs.rates.BYR}}</td>
        </tr>
        <tr>
            <th scope="row">27</th>
            <td>BZD</td>
            <td>{{symbole.symbols.BZD}}</td>
            <td>{{kurs.rates.BZD}}</td>
        </tr>
        <tr>
            <th scope="row">28</th>
            <td>CAD</td>
            <td>{{symbole.symbols.CAD}}</td>
            <td>{{kurs.rates.CAD}}</td>
        </tr>
        <tr>
            <th scope="row">29</th>
            <td>ANG</td>
            <td>{{symbole.symbols.ANG}}</td>
            <td>{{kurs.rates.ANG}}</td>
        </tr>
        <tr>
            <th scope="row">30</th>
            <td>CDF</td>
            <td>{{symbole.symbols.CDF}}</td>
            <td>{{kurs.rates.CDF}}</td>
        </tr>
        <tr>
            <th scope="row">31</th>
            <td>CHF</td>
            <td>{{symbole.symbols.CHF}}</td>
            <td>{{kurs.rates.CHF}}</td>
        </tr>
        <tr>
            <th scope="row">32</th>
            <td>CLF</td>
            <td>{{symbole.symbols.CLF}}</td>
            <td>{{kurs.rates.CLF}}</td>
        </tr>
        <tr>
            <th scope="row">33</th>
            <td>CLP</td>
            <td>{{symbole.symbols.CLP}}</td>
            <td>{{kurs.rates.CLP}}</td>
        </tr>
        <tr>
            <th scope="row">34</th>
            <td>CNY</td>
            <td>{{symbole.symbols.CNY}}</td>
            <td>{{kurs.rates.CNY}}</td>
        </tr>
        <tr>
            <th scope="row">35</th>
            <td>COP</td>
            <td>{{symbole.symbols.COP}}</td>
            <td>{{kurs.rates.COP}}</td>
        </tr>
        <tr>
            <th scope="row">36</th>
            <td>CRC</td>
            <td>{{symbole.symbols.CRC}}</td>
            <td>{{kurs.rates.CRC}}</td>
        </tr>
        <tr>
            <th scope="row">37</th>
            <td>CUC</td>
            <td>{{symbole.symbols.CUC}}</td>
            <td>{{kurs.rates.CUC}}</td>
        </tr>
        <tr>
            <th scope="row">38</th>
            <td>CUP</td>
            <td>{{symbole.symbols.CUP}}</td>
            <td>{{kurs.rates.CUP}}</td>
        </tr>
        <tr>
            <th scope="row">39</th>
            <td>CVE</td>
            <td>{{symbole.symbols.CVE}}</td>
            <td>{{kurs.rates.CVE}}</td>
        </tr>
        <tr>
            <th scope="row">40</th>
            <td>CZK</td>
            <td>{{symbole.symbols.CZK}}</td>
            <td>{{kurs.rates.CZK}}</td>
        </tr>
        <tr>
            <th scope="row">41</th>
            <td>DJF</td>
            <td>{{symbole.symbols.DJF}}</td>
            <td>{{kurs.rates.DJF}}</td>
        </tr>
        <tr>
            <th scope="row">42</th>
            <td>DKK</td>
            <td>{{symbole.symbols.DKK}}</td>
            <td>{{kurs.rates.DKK}}</td>
        </tr>
        <tr>
            <th scope="row">43</th>
            <td>DOP</td>
            <td>{{symbole.symbols.DOP}}</td>
            <td>{{kurs.rates.DOP}}</td>
        </tr>
        <tr>
            <th scope="row">44</th>
            <td>DZD</td>
            <td>{{symbole.symbols.DZD}}</td>
            <td>{{kurs.rates.DZD}}</td>
        </tr>
        <tr>
            <th scope="row">45</th>
            <td>EGP</td>
            <td>{{symbole.symbols.EGP}}</td>
            <td>{{kurs.rates.EGP}}</td>
        </tr>
        <tr>
            <th scope="row">46</th>
            <td>ERN</td>
            <td>{{symbole.symbols.ERN}}</td>
            <td>{{kurs.rates.ERN}}</td>
        </tr>
        <tr>
            <th scope="row">47</th>
            <td>ETB</td>
            <td>{{symbole.symbols.ETB}}</td>
            <td>{{kurs.rates.ETB}}</td>
        </tr>
        <tr>
            <th scope="row">48</th>
            <td>FJD</td>
            <td>{{symbole.symbols.FJD}}</td>
            <td>{{kurs.rates.FJD}}</td>
        </tr>
        <tr>
            <th scope="row">49</th>
            <td>FKP</td>
            <td>{{symbole.symbols.FKP}}</td>
            <td>{{kurs.rates.FKP}}</td>
        </tr>
        <tr>
            <th scope="row">50</th>
            <td>GBP</td>
            <td>{{symbole.symbols.GBP}}</td>
            <td>{{kurs.rates.GBP}}</td>
        </tr>
        <tr>
            <th scope="row">51</th>
            <td>GEL</td>
            <td>{{symbole.symbols.GEL}}</td>
            <td>{{kurs.rates.GEL}}</td>
        </tr>
        <tr>
            <th scope="row">52</th>
            <td>GGP</td>
            <td>{{symbole.symbols.GGP}}</td>
            <td>{{kurs.rates.GGP}}</td>
        </tr>
        <tr>
            <th scope="row">53</th>
            <td>GHS</td>
            <td>{{symbole.symbols.GHS}}</td>
            <td>{{kurs.rates.GHS}}</td>
        </tr>
        <tr>
            <th scope="row">54</th>
            <td>GIP</td>
            <td>{{symbole.symbols.GIP}}</td>
            <td>{{kurs.rates.GIP}}</td>
        </tr>
        <tr>
            <th scope="row">55</th>
            <td>GMD</td>
            <td>{{symbole.symbols.GMD}}</td>
            <td>{{kurs.rates.GMD}}</td>
        </tr>
        <tr>
            <th scope="row">56</th>
            <td>GNF</td>
            <td>{{symbole.symbols.GNF}}</td>
            <td>{{kurs.rates.GNF}}</td>
        </tr>
        <tr>
            <th scope="row">57</th>
            <td>GTQ</td>
            <td>{{symbole.symbols.GTQ}}</td>
            <td>{{kurs.rates.GTQ}}</td>
        </tr>
        <tr>
            <th scope="row">58</th>
            <td>GYD</td>
            <td>{{symbole.symbols.GYD}}</td>
            <td>{{kurs.rates.GYD}}</td>
        </tr>
        <tr>
            <th scope="row">59</th>
            <td>HKD</td>
            <td>{{symbole.symbols.HKD}}</td>
            <td>{{kurs.rates.HKD}}</td>
        </tr>
        <tr>
            <th scope="row">60</th>
            <td>HNL</td>
            <td>{{symbole.symbols.HNL}}</td>
            <td>{{kurs.rates.HNL}}</td>
        </tr>
        <tr>
            <th scope="row">61</th>
            <td>HRK</td>
            <td>{{symbole.symbols.HRK}}</td>
            <td>{{kurs.rates.HRK}}</td>
        </tr>
        <tr>
            <th scope="row">62</th>
            <td>HTG</td>
            <td>{{symbole.symbols.HTG}}</td>
            <td>{{kurs.rates.HTG}}</td>
        </tr>
        <tr>
            <th scope="row">63</th>
            <td>HUF</td>
            <td>{{symbole.symbols.HUF}}</td>
            <td>{{kurs.rates.HUF}}</td>
        </tr>
        <tr>
            <th scope="row">64</th>
            <td>IDR</td>
            <td>{{symbole.symbols.IDR}}</td>
            <td>{{kurs.rates.IDR}}</td>
        </tr>
        <tr>
            <th scope="row">65</th>
            <td>ILS</td>
            <td>{{symbole.symbols.ILS}}</td>
            <td>{{kurs.rates.ILS}}</td>
        </tr>
        <tr>
            <th scope="row">66</th>
            <td>IMP</td>
            <td>{{symbole.symbols.IMP}}</td>
            <td>{{kurs.rates.IMP}}</td>
        </tr>
        <tr>
            <th scope="row">67</th>
            <td>INR</td>
            <td>{{symbole.symbols.INR}}</td>
            <td>{{kurs.rates.INR}}</td>
        </tr>
        <tr>
            <th scope="row">68</th>
            <td>IQD</td>
            <td>{{symbole.symbols.IQD}}</td>
            <td>{{kurs.rates.IQD}}</td>
        </tr>
        <tr>
            <th scope="row">69</th>
            <td>IRR</td>
            <td>{{symbole.symbols.IRR}}</td>
            <td>{{kurs.rates.IRR}}</td>
        </tr>
        <tr>
            <th scope="row">70</th>
            <td>ISK</td>
            <td>{{symbole.symbols.ISK}}</td>
            <td>{{kurs.rates.ISK}}</td>
        </tr>
        <tr>
            <th scope="row">71</th>
            <td>JEP</td>
            <td>{{symbole.symbols.JEP}}</td>
            <td>{{kurs.rates.JEP}}</td>
        </tr>
        <tr>
            <th scope="row">72</th>
            <td>JMD</td>
            <td>{{symbole.symbols.JMD}}</td>
            <td>{{kurs.rates.JMD}}</td>
        </tr>
        <tr>
            <th scope="row">73</th>
            <td>JOD</td>
            <td>{{symbole.symbols.JOD}}</td>
            <td>{{kurs.rates.JOD}}</td>
        </tr>
        <tr>
            <th scope="row">74</th>
            <td>JPY</td>
            <td>{{symbole.symbols.JPY}}</td>
            <td>{{kurs.rates.JPY}}</td>
        </tr>
        <tr>
            <th scope="row">75</th>
            <td>KES</td>
            <td>{{symbole.symbols.KES}}</td>
            <td>{{kurs.rates.KES}}</td>
        </tr>
        <tr>
            <th scope="row">76</th>
            <td>KGS</td>
            <td>{{symbole.symbols.KGS}}</td>
            <td>{{kurs.rates.KGS}}</td>
        </tr>
        <tr>
            <th scope="row">77</th>
            <td>KHR</td>
            <td>{{symbole.symbols.KHR}}</td>
            <td>{{kurs.rates.KHR}}</td>
        </tr>
        <tr>
            <th scope="row">78</th>
            <td>KMF</td>
            <td>{{symbole.symbols.KMF}}</td>
            <td>{{kurs.rates.KMF}}</td>
        </tr>
        <tr>
            <th scope="row">79</th>
            <td>KPW</td>
            <td>{{symbole.symbols.KPW}}</td>
            <td>{{kurs.rates.KPW}}</td>
        </tr>
        <tr>
            <th scope="row">80</th>
            <td>KRW</td>
            <td>{{symbole.symbols.KRW}}</td>
            <td>{{kurs.rates.KRW}}</td>
        </tr>
        <tr>
            <th scope="row">81</th>
            <td>KWD</td>
            <td>{{symbole.symbols.KWD}}</td>
            <td>{{kurs.rates.KWD}}</td>
        </tr>
        <tr>
            <th scope="row">82</th>
            <td>KYD</td>
            <td>{{symbole.symbols.KYD}}</td>
            <td>{{kurs.rates.KYD}}</td>
        </tr>
        <tr>
            <th scope="row">83</th>
            <td>KZT</td>
            <td>{{symbole.symbols.KZT}}</td>
            <td>{{kurs.rates.KZT}}</td>
        </tr>
        <tr>
            <th scope="row">84</th>
            <td>LAK</td>
            <td>{{symbole.symbols.LAK}}</td>
            <td>{{kurs.rates.LAK}}</td>
        </tr>
        <tr>
            <th scope="row">85</th>
            <td>LBP</td>
            <td>{{symbole.symbols.LBP}}</td>
            <td>{{kurs.rates.LBP}}</td>
        </tr>
        <tr>
            <th scope="row">86</th>
            <td>LKR</td>
            <td>{{symbole.symbols.LKR}}</td>
            <td>{{kurs.rates.LKR}}</td>
        </tr>
        <tr>
            <th scope="row">87</th>
            <td>LRD</td>
            <td>{{symbole.symbols.LRD}}</td>
            <td>{{kurs.rates.LRD}}</td>
        </tr>
        <tr>
            <th scope="row">88</th>
            <td>LSL</td>
            <td>{{symbole.symbols.LSL}}</td>
            <td>{{kurs.rates.LSL}}</td>
        </tr>
        <tr>
            <th scope="row">89</th>
            <td>LTL</td>
            <td>{{symbole.symbols.LTL}}</td>
            <td>{{kurs.rates.LTL}}</td>
        </tr>
        <tr>
            <th scope="row">90</th>
            <td>LVL</td>
            <td>{{symbole.symbols.LVL}}</td>
            <td>{{kurs.rates.LVL}}</td>
        </tr>
        <tr>
            <th scope="row">91</th>
            <td>LYD</td>
            <td>{{symbole.symbols.LYD}}</td>
            <td>{{kurs.rates.LYD}}</td>
        </tr>
        <tr>
            <th scope="row">92</th>
            <td>MAD</td>
            <td>{{symbole.symbols.MAD}}</td>
            <td>{{kurs.rates.MAD}}</td>
        </tr>
        <tr>
            <th scope="row">93</th>
            <td>MDL</td>
            <td>{{symbole.symbols.MDL}}</td>
            <td>{{kurs.rates.MDL}}</td>
        </tr>
        <tr>
            <th scope="row">94</th>
            <td>MGA</td>
            <td>{{symbole.symbols.MGA}}</td>
            <td>{{kurs.rates.MGA}}</td>
        </tr>
        <tr>
            <th scope="row">95</th>
            <td>MKD</td>
            <td>{{symbole.symbols.MKD}}</td>
            <td>{{kurs.rates.MKD}}</td>
        </tr>
        <tr>
            <th scope="row">96</th>
            <td>MMK</td>
            <td>{{symbole.symbols.MMK}}</td>
            <td>{{kurs.rates.MMK}}</td>
        </tr>
        <tr>
            <th scope="row">97</th>
            <td>MNT</td>
            <td>{{symbole.symbols.MNT}}</td>
            <td>{{kurs.rates.MNT}}</td>
        </tr>
        <tr>
            <th scope="row">98</th>
            <td>MOP</td>
            <td>{{symbole.symbols.MOP}}</td>
            <td>{{kurs.rates.MOP}}</td>
        </tr>
        <tr>
            <th scope="row">99</th>
            <td>MRO</td>
            <td>{{symbole.symbols.MRO}}</td>
            <td>{{kurs.rates.MRO}}</td>
        </tr>
        <tr>
            <th scope="row">100</th>
            <td>MUR</td>
            <td>{{symbole.symbols.MUR}}</td>
            <td>{{kurs.rates.MUR}}</td>
        </tr>
        <tr>
            <th scope="row">101</th>
            <td>MVR</td>
            <td>{{symbole.symbols.MVR}}</td>
            <td>{{kurs.rates.MVR}}</td>
        </tr>
        <tr>
            <th scope="row">102</th>
            <td>MWK</td>
            <td>{{symbole.symbols.MWK}}</td>
            <td>{{kurs.rates.MWK}}</td>
        </tr>
        <tr>
            <th scope="row">103</th>
            <td>MXN</td>
            <td>{{symbole.symbols.MXN}}</td>
            <td>{{kurs.rates.MXN}}</td>
        </tr>
        <tr>
            <th scope="row">104</th>
            <td>MYR</td>
            <td>{{symbole.symbols.MYR}}</td>
            <td>{{kurs.rates.MYR}}</td>
        </tr>
        <tr>
            <th scope="row">105</th>
            <td>MZN</td>
            <td>{{symbole.symbols.MZN}}</td>
            <td>{{kurs.rates.MZN}}</td>
        </tr>
        <tr>
            <th scope="row">106</th>
            <td>NAD</td>
            <td>{{symbole.symbols.NAD}}</td>
            <td>{{kurs.rates.NAD}}</td>
        </tr>
        <tr>
            <th scope="row">107</th>
            <td>NGN</td>
            <td>{{symbole.symbols.NGN}}</td>
            <td>{{kurs.rates.NGN}}</td>
        </tr>
        <tr>
            <th scope="row">108</th>
            <td>NIO</td>
            <td>{{symbole.symbols.NIO}}</td>
            <td>{{kurs.rates.NIO}}</td>
        </tr>
        <tr>
            <th scope="row">109</th>
            <td>NOK</td>
            <td>{{symbole.symbols.NOK}}</td>
            <td>{{kurs.rates.NOK}}</td>
        </tr>
        <tr>
            <th scope="row">110</th>
            <td>NPR</td>
            <td>{{symbole.symbols.NPR}}</td>
            <td>{{kurs.rates.NPR}}</td>
        </tr>
        <tr>
            <th scope="row">111</th>
            <td>NZD</td>
            <td>{{symbole.symbols.NZD}}</td>
            <td>{{kurs.rates.NZD}}</td>
        </tr>
        <tr>
            <th scope="row">112</th>
            <td>OMR</td>
            <td>{{symbole.symbols.OMR}}</td>
            <td>{{kurs.rates.OMR}}</td>
        </tr>
        <tr>
            <th scope="row">113</th>
            <td>PAB</td>
            <td>{{symbole.symbols.PAB}}</td>
            <td>{{kurs.rates.PAB}}</td>
        </tr>
        <tr>
            <th scope="row">114</th>
            <td>PEN</td>
            <td>{{symbole.symbols.PEN}}</td>
            <td>{{kurs.rates.PEN}}</td>
        </tr>
        <tr>
            <th scope="row">115</th>
            <td>PGK</td>
            <td>{{symbole.symbols.PGK}}</td>
            <td>{{kurs.rates.PGK}}</td>
        </tr>
        <tr>
            <th scope="row">116</th>
            <td>PHP</td>
            <td>{{symbole.symbols.PHP}}</td>
            <td>{{kurs.rates.PHP}}</td>
        </tr>
        <tr>
            <th scope="row">117</th>
            <td>PKR</td>
            <td>{{symbole.symbols.PKR}}</td>
            <td>{{kurs.rates.PKR}}</td>
        </tr>
        <tr>
            <th scope="row">118</th>
            <td>PLN</td>
            <td>{{symbole.symbols.PLN}}</td>
            <td>{{kurs.rates.PLN}}</td>
        </tr>
        <tr>
            <th scope="row">119</th>
            <td>PYG</td>
            <td>{{symbole.symbols.PYG}}</td>
            <td>{{kurs.rates.PYG}}</td>
        </tr>
        <tr>
            <th scope="row">120</th>
            <td>QAR</td>
            <td>{{symbole.symbols.QAR}}</td>
            <td>{{kurs.rates.QAR}}</td>
        </tr>
        <tr>
            <th scope="row">121</th>
            <td>RON</td>
            <td>{{symbole.symbols.RON}}</td>
            <td>{{kurs.rates.RON}}</td>
        </tr>
        <tr>
            <th scope="row">122</th>
            <td>RSD</td>
            <td>{{symbole.symbols.RSD}}</td>
            <td>{{kurs.rates.RSD}}</td>
        </tr>
        <tr>
            <th scope="row">123</th>
            <td>RUB</td>
            <td>{{symbole.symbols.RUB}}</td>
            <td>{{kurs.rates.RUB}}</td>
        </tr>
        <tr>
            <th scope="row">124</th>
            <td>RWF</td>
            <td>{{symbole.symbols.RWF}}</td>
            <td>{{kurs.rates.RWF}}</td>
        </tr>
        <tr>
            <th scope="row">125</th>
            <td>SAR</td>
            <td>{{symbole.symbols.SAR}}</td>
            <td>{{kurs.rates.SAR}}</td>
        </tr>
        <tr>
            <th scope="row">126</th>
            <td>SBD</td>
            <td>{{symbole.symbols.SBD}}</td>
            <td>{{kurs.rates.SBD}}</td>
        </tr>
        <tr>
            <th scope="row">127</th>
            <td>SCR</td>
            <td>{{symbole.symbols.SCR}}</td>
            <td>{{kurs.rates.SCR}}</td>
        </tr>
        <tr>
            <th scope="row">128</th>
            <td>SDG</td>
            <td>{{symbole.symbols.SDG}}</td>
            <td>{{kurs.rates.SDG}}</td>
        </tr>
        <tr>
            <th scope="row">129</th>
            <td>SEK</td>
            <td>{{symbole.symbols.SEK}}</td>
            <td>{{kurs.rates.SEK}}</td>
        </tr>
        <tr>
            <th scope="row">130</th>
            <td>SGD</td>
            <td>{{symbole.symbols.SGD}}</td>
            <td>{{kurs.rates.SGD}}</td>
        </tr>
        <tr>
            <th scope="row">131</th>
            <td>SHP</td>
            <td>{{symbole.symbols.SHP}}</td>
            <td>{{kurs.rates.SHP}}</td>
        </tr>
        <tr>
            <th scope="row">132</th>
            <td>SLL</td>
            <td>{{symbole.symbols.SLL}}</td>
            <td>{{kurs.rates.SLL}}</td>
        </tr>
        <tr>
            <th scope="row">133</th>
            <td>SOS</td>
            <td>{{symbole.symbols.SOS}}</td>
            <td>{{kurs.rates.SOS}}</td>
        </tr>
        <tr>
            <th scope="row">134</th>
            <td>SRD</td>
            <td>{{symbole.symbols.SRD}}</td>
            <td>{{kurs.rates.SRD}}</td>
        </tr>
        <tr>
            <th scope="row">135</th>
            <td>STD</td>
            <td>{{symbole.symbols.STD}}</td>
            <td>{{kurs.rates.STD}}</td>
        </tr>
        <tr>
            <th scope="row">136</th>
            <td>SVC</td>
            <td>{{symbole.symbols.SVC}}</td>
            <td>{{kurs.rates.SVC}}</td>
        </tr>
        <tr>
            <th scope="row">137</th>
            <td>SYP</td>
            <td>{{symbole.symbols.SYP}}</td>
            <td>{{kurs.rates.SYP}}</td>
        </tr>
        <tr>
            <th scope="row">138</th>
            <td>SZL</td>
            <td>{{symbole.symbols.SZL}}</td>
            <td>{{kurs.rates.SZL}}</td>
        </tr>
        <tr>
            <th scope="row">139</th>
            <td>THB</td>
            <td>{{symbole.symbols.THB}}</td>
            <td>{{kurs.rates.THB}}</td>
        </tr>
        <tr>
            <th scope="row">140</th>
            <td>TJS</td>
            <td>{{symbole.symbols.TJS}}</td>
            <td>{{kurs.rates.TJS}}</td>
        </tr>
        <tr>
            <th scope="row">141</th>
            <td>TMT</td>
            <td>{{symbole.symbols.TMT}}</td>
            <td>{{kurs.rates.TMT}}</td>
        </tr>
        <tr>
            <th scope="row">142</th>
            <td>TND</td>
            <td>{{symbole.symbols.TND}}</td>
            <td>{{kurs.rates.TND}}</td>
        </tr>
        <tr>
            <th scope="row">143</th>
            <td>TOP</td>
            <td>{{symbole.symbols.TOP}}</td>
            <td>{{kurs.rates.TOP}}</td>
        </tr>
        <tr>
            <th scope="row">144</th>
            <td>TRY</td>
            <td>{{symbole.symbols.TRY}}</td>
            <td>{{kurs.rates.TRY}}</td>
        </tr>
        <tr>
            <th scope="row">145</th>
            <td>TTD</td>
            <td>{{symbole.symbols.TTD}}</td>
            <td>{{kurs.rates.TTD}}</td>
        </tr>
        <tr>
            <th scope="row">146</th>
            <td>TWD</td>
            <td>{{symbole.symbols.TWD}}</td>
            <td>{{kurs.rates.TWD}}</td>
        </tr>
        <tr>
            <th scope="row">147</th>
            <td>TZS</td>
            <td>{{symbole.symbols.TZS}}</td>
            <td>{{kurs.rates.TZS}}</td>
        </tr>
        <tr>
            <th scope="row">148</th>
            <td>UAH</td>
            <td>{{symbole.symbols.UAH}}</td>
            <td>{{kurs.rates.UAH}}</td>
        </tr>
        <tr>
            <th scope="row">149</th>
            <td>UGX</td>
            <td>{{symbole.symbols.UGX}}</td>
            <td>{{kurs.rates.UGX}}</td>
        </tr>
        <tr>
            <th scope="row">150</th>
            <td>USD</td>
            <td>{{symbole.symbols.USD}}</td>
            <td>{{kurs.rates.USD}}</td>
        </tr>
        <tr>
            <th scope="row">151</th>
            <td>UYU</td>
            <td>{{symbole.symbols.UYU}}</td>
            <td>{{kurs.rates.UYU}}</td>
        </tr>
        <tr>
            <th scope="row">152</th>
            <td>UZS</td>
            <td>{{symbole.symbols.UZS}}</td>
            <td>{{kurs.rates.UZS}}</td>
        </tr>
        <tr>
            <th scope="row">153</th>
            <td>VEF</td>
            <td>{{symbole.symbols.VEF}}</td>
            <td>{{kurs.rates.VEF}}</td>
        </tr>
        <tr>
            <th scope="row">154</th>
            <td>VND</td>
            <td>{{symbole.symbols.VND}}</td>
            <td>{{kurs.rates.VND}}</td>
        </tr>
        <tr>
            <th scope="row">155</th>
            <td>VUV</td>
            <td>{{symbole.symbols.VUV}}</td>
            <td>{{kurs.rates.VUV}}</td>
        </tr>
        <tr>
            <th scope="row">156</th>
            <td>WST</td>
            <td>{{symbole.symbols.WST}}</td>
            <td>{{kurs.rates.WST}}</td>
        </tr>
        <tr>
            <th scope="row">157</th>
            <td>XAF</td>
            <td>{{symbole.symbols.XAF}}</td>
            <td>{{kurs.rates.XAF}}</td>
        </tr>
        <tr>
            <th scope="row">158</th>
            <td>XAG</td>
            <td>{{symbole.symbols.XAG}}</td>
            <td>{{kurs.rates.XAG}}</td>
        </tr>
        <tr>
            <th scope="row">159</th>
            <td>XAU</td>
            <td>{{symbole.symbols.XAU}}</td>
            <td>{{kurs.rates.XAU}}</td>
        </tr>
        <tr>
            <th scope="row">160</th>
            <td>XCD</td>
            <td>{{symbole.symbols.XCD}}</td>
            <td>{{kurs.rates.XCD}}</td>
        </tr>
        <tr>
            <th scope="row">161</th>
            <td>XDR</td>
            <td>{{symbole.symbols.XDR}}</td>
            <td>{{kurs.rates.XDR}}</td>
        </tr>
        <tr>
            <th scope="row">162</th>
            <td>XOF</td>
            <td>{{symbole.symbols.XOF}}</td>
            <td>{{kurs.rates.XOF}}</td>
        </tr>
        <tr>
            <th scope="row">163</th>
            <td>XPF</td>
            <td>{{symbole.symbols.XPF}}</td>
            <td>{{kurs.rates.XPF}}</td>
        </tr>
        <tr>
            <th scope="row">164</th>
            <td>YER</td>
            <td>{{symbole.symbols.YER}}</td>
            <td>{{kurs.rates.YER}}</td>
        </tr>
        <tr>
            <th scope="row">165</th>
            <td>ZAR</td>
            <td>{{symbole.symbols.ZAR}}</td>
            <td>{{kurs.rates.ZAR}}</td>
        </tr>
        <tr>
            <th scope="row">166</th>
            <td>ZMK</td>
            <td>{{symbole.symbols.ZMK}}</td>
            <td>{{kurs.rates.ZMK}}</td>
        </tr>
        <tr>
            <th scope="row">167</th>
            <td>ZMW</td>
            <td>{{symbole.symbols.ZMW}}</td>
            <td>{{kurs.rates.ZMW}}</td>
        </tr>
        <tr>
            <th scope="row">168</th>
            <td>ZWL</td>
            <td>{{symbole.symbols.ZWL}}</td>
            <td>{{kurs.rates.ZWL}}</td>
        </tr>
        </tbody>
    </table>
</div>
