<div>
    <div class="row justify-content-center">
        <div class="col-md-8" *ngIf="account$ | async as account">
            <h2>Hasło dla [<strong>{{account.login}}</strong>]</h2>

            <div class="alert alert-success" *ngIf="success">
                <strong>Hasło zostało zmienione!</strong>
            </div>
            <div class="alert alert-danger" *ngIf="error" >
                <strong>Wystąpił błąd!</strong> Twoje hasło nie może być zmienione.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch">
                Wprowadzone hasła do siebie nie pasują!
            </div>

            <form name="form" role="form" (ngSubmit)="changePassword()" [formGroup]="passwordForm">

                <div class="form-group">
                    <label class="form-control-label" for="currentPassword">Obecne hasło</label>
                    <input type="password" class="form-control" id="currentPassword" name="currentPassword"
                           placeholder="Obecne hasło"
                           formControlName="currentPassword">
                    <div *ngIf="passwordForm.get('currentPassword').invalid && (passwordForm.get('currentPassword').dirty || passwordForm.get('currentPassword').touched)" >
                        <small class="form-text text-danger"
                               *ngIf="passwordForm.get('currentPassword').errors.required">
                            Twoje hasło jest wymagane.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="newPassword">Nowe hasło</label>
                    <input type="password" class="form-control" id="newPassword" name="newPassword"
                           placeholder="Nowe hasło"
                           formControlName="newPassword">
                    <div *ngIf="passwordForm.get('newPassword').invalid && (passwordForm.get('newPassword').dirty || passwordForm.get('newPassword').touched)">
                        <small class="form-text text-danger"
                           *ngIf="passwordForm.get('newPassword').errors.required">
                            Twoje hasło jest wymagane!
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="passwordForm.get('newPassword').errors.minlength">
                            Twoje nowe hasło musi posiadać przynajmniej 4 znaki.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="passwordForm.get('newPassword').errors.maxlength">
                            Twoje nowe hasło musi posiadać mniej niż 50 znaków.
                        </small>
                    </div>
                    <jhi-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword').value"></jhi-password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="confirmPassword">Potwierdzenie nowego hasła</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                           placeholder="Potwierdź nowe hasło"
                           formControlName="confirmPassword">
                    <div *ngIf="passwordForm.get('confirmPassword').invalid && (passwordForm.get('confirmPassword').dirty || passwordForm.get('confirmPassword').touched)">
                        <small class="form-text text-danger"
                           *ngIf="passwordForm.get('confirmPassword').errors.required">
                            Potwierdzenie hasła jest wymagane.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="passwordForm.get('confirmPassword').errors.minlength">
                            Potwierdzenia hasła musi posiadać przynajmniej 4 znaki
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="passwordForm.get('confirmPassword').errors.maxlength">
                            Potwierdzenia hasła musi posiadać mniej niż 50 znaków
                        </small>
                    </div>
                </div>
                <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary">Zapisz</button>
            </form>
        </div>
    </div>
</div>
