<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>Rejestracja</h1>

            <div class="alert alert-success" *ngIf="success">
                <strong>Rejestracja zakończona powodzeniem!</strong> Sprawdź swojego maila i kliknij potwierdzenie!
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <strong>Rejestracja nieudana!</strong> Proszę spróbować później.
            </div>

            <div class="alert alert-danger" *ngIf="errorUserExists">
                <strong>Taki login istnieje już w aplikacji!</strong> Proszę podać inny.
            </div>

            <div class="alert alert-danger" *ngIf="errorEmailExists">
                <strong>Ten email jest już używany!</strong> Proszę wybrać inny.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch">
                Hasło i jego potwierdzenie do siebie nie pasują!
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form name="form" role="form" (ngSubmit)="register()" [formGroup]="registerForm" *ngIf="!success">
                <div class="form-group">

                    <label class="form-control-label" for="login">Login</label>
                    <input type="text" class="form-control" id="login" name="login" placeholder="Twój login"
                           formControlName="login">
                    <div *ngIf="registerForm.get('login').invalid && (registerForm.get('login').dirty || registerForm.get('login').touched)">
                        <small class="form-text text-danger" *ngIf="registerForm.get('login').errors.required">
                            Login jest wymagany.
                        </small>
                        <small class="form-text text-danger" *ngIf="registerForm.get('login').errors.minlength"
                               >
                            Twój login musi mieć przynajmniej 1 znak.
                        </small>
                        <small class="form-text text-danger" *ngIf="registerForm.get('login').errors.maxlength"
                               >
                            Twój login nie może mieć więcej niż 50 znaków.
                        </small>
                        <small class="form-text text-danger" *ngIf="registerForm.get('login').errors.pattern"
                              >
                            Login może zawierać tylko litery i cyfry!
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Twój email"
                             formControlName="email">
                    <div *ngIf="registerForm.get('email').invalid && (registerForm.get('email').dirty || registerForm.get('email').touched)">
                        <small class="form-text text-danger" *ngIf="registerForm.get('email').errors.required"
                               >
                            Email jest wymagany.
                        </small>
                        <small class="form-text text-danger" *ngIf="registerForm.get('email').errors.invalid"
                              >
                            Twój email jest nieprawidłowy.
                        </small>
                        <small class="form-text text-danger" *ngIf="registerForm.get('email').errors.minlength"
                              >
                            Twój email musi mieć przynajmniej 5 znaków.
                        </small>
                        <small class="form-text text-danger" *ngIf="registerForm.get('email').errors.maxlength"
                              >
                            Twój email nie może mieć więcej niż 100 znaków.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="password">Nowe hasło</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Nowe hasło"
                            formControlName="password">
                    <div *ngIf="registerForm.get('password').invalid && (registerForm.get('password').dirty || registerForm.get('password').touched)">
                        <small class="form-text text-danger" *ngIf="registerForm.get('password').errors.required"
                               >
                            Hasło jest wymagane.
                        </small>
                        <small class="form-text text-danger" *ngIf="registerForm.get('password').errors.minlength"
                               >
                            Hasło musi mieć przynajmniej 4 znaki.
                        </small>
                        <small class="form-text text-danger" *ngIf="registerForm.get('password').errors.maxlength"
                               >
                            Twoje hasło nie może mieć więcej niż 50 znaków.
                        </small>
                    </div>
                    <jhi-password-strength-bar [passwordToCheck]="registerForm.get('password').value"></jhi-password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="confirmPassword">Potwierdzenie hasła</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Potwierdź nowe hasło"
                            formControlName="confirmPassword">
                    <div *ngIf="registerForm.get('confirmPassword').invalid && (registerForm.get('confirmPassword').dirty || registerForm.get('confirmPassword').touched)">
                        <small class="form-text text-danger" *ngIf="registerForm.get('confirmPassword').errors.required"
                              >
                            Potwierdzenie hasła jest wymagane.
                        </small>
                        <small class="form-text text-danger" *ngIf="registerForm.get('confirmPassword').errors.minlength"
                             >
                            Potwierdzane hasło musi mieć przynajmniej 4 znaki.
                        </small>
                        <small class="form-text text-danger" *ngIf="registerForm.get('confirmPassword').errors.maxlength"
                              >
                            Potwierdzane hasło nie może mieć więcej niż 50 znaków.
                        </small>
                    </div>
                </div>

                <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary">Zarejestruj się</button>
            </form>
            <p></p>
        </div>
    </div>
</div>
