<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Magazyn Grzewczy Formularz Kontaktowy Mail</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div id="magazyn-grzewczy">
    <div>
        <span>Klient: <br>#dane <br> Prosi o Nasz kontakt</span><br>
        <span>Mail klienta to:<br>
                    #email</span><br>
        <span>Telefon klienta to:<br>
                    #telefon</span><br>
        <span>Temat zapytania to:<br>
                    #temat</span><br>
        <span>Treść zapytania:<br>
                    #poleTekstowe</span>
    </div>
</div>
<div id="footer-magazyn-grzewczy">
    <br/>
    <p>
                <span>
                    <small>
                        Magazyn Grzewczy
                        <br/>
                        KRS 0000069229, Kapitał zakładowy i wpłacony 431.416.236,00 zł
                        <br/>
                        NIP 896-00-01-959, REGON 930603359
                        <br/>
                        Uwaga: niniejsza wiadomość przeznaczona jest wyłącznie dla jej adresata i może być poufna.
                        Jeśli nie jest Pani/Pan adresatem, prosimy o poinformowanie nadawcy i skasowanie wiadomości.
                        Rozpowszechnianie, kopiowanie lub inne działanie o podobnym charakterze jest zabronione.
                    </small>
                </span>
    </p>
</div>
</body>
</html>
