<div>
    <h2 id="page-heading">
        <span>Produkts</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-produkt" [routerLink]="['/produkt/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Dodaj nowy produkt
            </span>
        </button>
        <button type="submit"
                class="btn btn-info btn-sm"
                (click)="getAllAkcesoria()">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="d-none d-md-inline">AKCESORIA NEW</span>
        </button>
        <button type="submit"
                class="btn btn-info btn-sm"
                (click)="getAllProduktXlsx('D:/PIMK/magazyn-grzewczy/src/main/resources/templates/mail/zalaczniki/Produkty.xlsx')">
                <fa-icon [icon]="'plus'"></fa-icon>
                <span class="d-none d-md-inline">Pobierz Excela</span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="produkts?.length === 0">
        <span>Nie znaleziono produktów</span>
    </div>
    <div class="table-responsive" *ngIf="produkts?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="nazwa"><span>Nazwa</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="cena"><span>Cena</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="opis"><span>Opis</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="status"><span>Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="zdjecie"><span>Zdjecie</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="stan"><span>Stan</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="kategoria"><span>Kategoria</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  ><span>Ilość</span></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let produkt of produkts ;trackBy: trackId">
                <td><a [routerLink]="['/produkt', produkt.id, 'view' ]">{{produkt.id}}</a></td>
                <td>{{produkt.nazwa}}</td>
                <td>{{produkt.cena}}</td>
                <td>{{produkt.opis}}</td>
                <td>{{produkt.status}}</td>
                <td>{{produkt.zdjecie}}</td>
                <td>{{produkt.stan}}</td>
                <td>{{produkt.kategoria}}</td>
                <!--<td><input class="form-control" type="number" value="1" id="number-input"></td>-->
                <td><input class="form-control" type="number" [formControl]="ilosc"></td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                class="btn btn-info btn-sm"
                                (click)="dodajProduktZamowienieWpis(produkt, ilosc.value)">
                            <fa-icon [icon]="'plus'"></fa-icon>
                            <span class="d-none d-md-inline">Dodaj</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/produkt', produkt.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">Zobacz</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/produkt', produkt.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edytuj</span>
                        </button>
                        <button type="submit" (click)="delete(produkt)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Usuń</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="produkts?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
