<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-produkt-heading">Create or edit a Produkt</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_nazwa">Nazwa</label>
                    <input type="text" class="form-control" name="nazwa" id="field_nazwa"
                           formControlName="nazwa"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_cena">Cena</label>
                    <input type="number" class="form-control" name="cena" id="field_cena"
                           formControlName="cena"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_opis">Opis</label>
                    <input type="text" class="form-control" name="opis" id="field_opis"
                           formControlName="opis"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_status">Status</label>
                    <select class="form-control" name="status" formControlName="status" id="field_status">
                        <option value="DOSTEPNY">DOSTEPNY</option>
                        <option value="NIEDOSTEPNY">NIEDOSTEPNY</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_stan">Stan</label>
                    <input type="number" class="form-control" name="stan" id="field_stan"
                           formControlName="stan"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_kategoria">Kategoria</label>
                    <select class="form-control" name="kategoria" formControlName="kategoria" id="field_kategoria">
                        <option value="GRZEJNIKI">GRZEJNIKI</option>
                        <option value="PIECE">PIECE</option>
                        <option value="KOMINKI">KOMINKI</option>
                        <option value="AKCESORIA">AKCESORIA</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_zdjecie">Zdjecie</label>
                    <div>
                        <img [src]="'data:' + editForm.get('zdjecieContentType').value + ';base64,' + editForm.get('zdjecie').value" style="max-height: 100px;" *ngIf="editForm.get('zdjecie').value" alt="produkt image"/>
                        <div *ngIf="editForm.get('zdjecie').value" class="form-text text-danger clearfix">
                            <button type="button" (click)="clearInputImage('zdjecie', 'zdjecieContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon><span>Usuń</span>
                            </button>
                        </div>
                        <input type="file" id="file_zdjecie" (change)="setFileData($event, 'zdjecie', true)" accept="image/*"/>
                    </div>
                    <input type="hidden" class="form-control" name="zdjecie" id="field_zdjecie"
                           formControlName="zdjecie"/>
                    <input type="hidden" class="form-control" name="zdjecieContentType" id="field_zdjecieContentType"
                           formControlName="zdjecieContentType" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Anuluj</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Zapisz</span>
                </button>
            </div>
        </form>
    </div>
</div>
