<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="produkt">
            <h2><span>{{produkt.nazwa}}</span></h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Cena</span></dt>
                <dd>
                    <span>{{produkt.cena}}</span>
                </dd>
                <dt><span>Opis</span></dt>
                <dd>
                    <span>{{produkt.opis}}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{produkt.status}}</span>
                </dd>
                <dt><span>Stan Magazynowy</span></dt>
                <dd>
                    <span>{{produkt.stan}}</span>
                </dd>
                <dt><span>Zdjęcie poglądowe</span></dt>
                <dd>
                    <div *ngIf="produkt.zdjecie">
                        <a (click)="openFile(produkt.zdjecieContentType, produkt.zdjecie)">
                            <img [src]="'data:' + produkt.zdjecieContentType + ';base64,' + produkt.zdjecie" style="max-width: 100%;" alt="produkt image"/>
                        </a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Wróć</span>
            </button>

            <button type="button"
                    [routerLink]="['/produkt', produkt.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edytuj</span>
            </button>
        </div>
    </div>
</div>
