<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h4 class="display-6">Witamy na stronie domowej Magazynu Grzewczego!</h4>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account"
                > Witaj {{account.login}} ! </span>
                <div class="alert alert-dark" *ngSwitchCase="true">
                    <span>Jeśli chcesz sie z nami skontaktować:</span>&nbsp;
                    <a class="alert-link" routerLink="kontakt">Kontakt</a>
                </div>
                <div class="alert alert-secondary" *ngSwitchCase="true">
                    <span>Chcesz skorzystać z kalkulatora mocy cieplnej:</span>&nbsp;
                    <a class="alert-link" routerLink="kalkulator">Kalkulator</a>
                </div>
            </div>

            <div class="alert alert-success" *ngSwitchCase="false">
                <a class="alert-link" (click)="login()">Zaloguj się</a>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>Jeśli nie masz jeszcze konta:</span>&nbsp;
                <a class="alert-link" routerLink="account/register">Zarejestruj się!</a>
            </div>
            <div class="alert alert-dark" *ngSwitchCase="false">
                <span>Jeśli chcesz sie z nami skontaktować:</span>&nbsp;
                <a class="alert-link" routerLink="kontakt">Kontakt</a>
            </div>
            <div class="alert alert-secondary" *ngSwitchCase="false">
                <span>Chcesz skorzystać z kalkulatora mocy cieplnej:</span>&nbsp;
                <a class="alert-link" routerLink="kalkulator">Kalkulator</a>
            </div>
        </div>
    </div>
</div>
