<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>Zresetuj swoje hasło</h1>

            <div class="alert alert-danger" *ngIf="errorEmailNotExists">
                <strong>Ten email jest niezarejestrowany!</strong> Proszę sprawdź wpisane dane i spróbuj ponownie.
            </div>

            <div class="alert alert-warning" *ngIf="!success">
                <p>Wpisz email, który używałeś do rejestracji.</p>
            </div>

            <div class="alert alert-success" *ngIf="success === 'OK'">
                <p>Sprawdź swój email z instrukcją resetu hasła.</p>
            </div>

            <form *ngIf="!success" name="form" role="form" (ngSubmit)="requestReset()" [formGroup]="resetRequestForm">
                <div class="form-group">
                    <label class="form-control-label" for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Twój email"
                           formControlName="email">
                    <div *ngIf="resetRequestForm.get('email').invalid && (resetRequestForm.get('email').dirty || resetRequestForm.get('email').touched)">
                        <small class="form-text text-danger"
                           *ngIf="resetRequestForm.get('email').errors.required">
                            Email jest wymagany.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="resetRequestForm.get('email').errors.email">
                            Twój email jest nieprawidłowy.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="resetRequestForm.get('email').errors.minlength">
                            Twój email musi mieć przynajmniej 5 znaków.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="resetRequestForm.get('email').errors.maxlength">
                            Twój email nie może być dłuższy niż 100 znaków.
                        </small>
                    </div>
                </div>
                <button type="submit" [disabled]="resetRequestForm.invalid" class="btn btn-primary">Resetuj hasło</button>
            </form>
        </div>
    </div>
</div>
